:host{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    background: linear-gradient(127deg, #30a2fe 20%, #824dfe 100%);
}

ng-hero-carousel{

  margin: 0 auto;
    --carousel-width: 70%;
    --carousel-height: 65dvh;
    --carousel-transition-time: 5s;
    --carousel-transition-translate-y: 0;

    --carousel-bg: linear-gradient(127deg, #30a2fe 20%, #824dfe 100%);
    // --carousel-bg: transparent;

    // --carousel-title-size: 4rem;
    // --carousel-subtitle-size: 1.2rem;

    --carousel-overlay-color: linear-gradient(127deg, #2375b8 20%, #6139bd 100%);
    // --carousel-overlay-opacity: .3;

    /* Colores base */
    // --carousel-text-color: red;

    /* Color base, se hereda en todo */
    // --carousel-accent-color: blue;

    /* Overrides opcionales */
    // --carousel-autoplay-color: white;
    // --carousel-arrow-color: white;
    // --carousel-indicator-color: white;
}

.slide1_customContent{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;

  width: 100%;
}

.slide1_customContent img{
  height: 25px;
}

.slide1_customContent h4{
  font-size: 1.4rem;
}
