
ng-expandable{
  // margin: 1rem;
  // width: 50%;
  // --expandable-transition-duration: .3s;
  --expandable-hover-transition-duration: .2s;
  // --expandable-width: 90%;
  // --expandable-border: none;
  // --expandable-bg: red;
  // --exapandable-border-raidus: 1rem;
  // --expandable-gap: .5rem;

  --expandable-icon-size: 1.1rem;


  --expandable-button-hover-bg: blue;
  --expandable-button-hover-color: red;
  // --expandable-button-bg: blue;
  // --expandable-button-padding: 1rem;

  // --expandable-content-bg: pink;
}
