@font-face {
  font-family: 'DejaVu Sans';
  src: url('/fonts/DejaVuSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: 'DejaVu Sans';
  color: black;
  background-color: rgb(41, 41, 41);
  height: 100dvh;
  font-size: 16px;
}

body{
  height: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

// button{
//   color: inherit;
// }
