@font-face {
  font-family: 'DejaVu Sans';
  src: url('/fonts/DejaVuSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{font-family: 'DejaVu Sans'; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); height: 100dvh;}

body{
  height: 100%;
}

// button{
//   color: inherit;
// }
