:host{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
    height: 100%;
    background: linear-gradient(127deg, #30a2fe 20%, #824dfe 100%);
}

.titleContainer{
    max-width: 400px;
    width: 100%;
    text-align: left;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleContainer hgroup h1{
    font-size: 1.8rem;
    margin-bottom: .35rem;
}

.titleContainer hgroup div{

  display: flex;
  column-gap: .3rem;
  align-items: end;
}

.uuxLogo{
  width: 125px;
  margin-bottom: .1rem;
}

.angularLogo{
    max-width: 52px;
}

.container{
  width: 80%;
  color: white;
    // width: 400px;
    // display: grid;
    // flex-wrap: wrap;
    // grid-template-columns: 1fr 1fr 1fr;
    // align-items: center;
    // justify-content: center;
    // column-gap: 2.5rem;
    // row-gap: 1.5rem;

}

.slideExample:hover{
  background-color: aqua;
}

// ng-content-carousel{background-color: aqua;}

ng-content-carousel{
  // margin: 0 2rem;
  // --carousel-accent-color: red;
  // --carousel-arrows-hover-bg: blue;
  // --carousel-arrows-hover-color: white;
  // --carousel-transition-time: .3s;
}

ng-content-carousel a{
  // padding: 1rem;
  cursor: pointer;
  // width: 100%;
  // max-width: 500px;
  // min-width: 280px;
  // height: fit-content;
  // background-color: rgb(207, 129, 56);
  // display: block;
  // width: 200px;
}

ng-image-card {
  width: 100%;
  // max-width: 300px;
  min-width: 280px;
}

ng-image-card [card-header]{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

ng-image-card [card-header] img{
  width: 50px;
  border-radius: 50%;
}

ng-image-card [card-footer]{
  display: flex; column-gap: .5rem; justify-content: end;
}

// ng-content-carousel .carousel-item{
//   background-color: blue;
//   margin: 0 2rem;
// }

@media screen and (max-width: 1024px) {
  .slideExample{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid red;
    color: black;
  }
}
