.slideExample{
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: 3px solid red;
  color: black;
}


@media screen and (max-width: 1024px) {
  .slideExample{
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 3px solid red;
    color: black;
  }
}
