:host{
  display: block;
  // width: 80%;
  // margin: 0 auto;
  margin-top: 3rem;
  background: linear-gradient(to right, red 40%, blue 60%);
  padding: 0 2rem;
}

// .slideExample{
//   width: 100%;
//   height: 100%;
//   background-color: transparent;
//   background-color: beige;
//   color: black;
// }

.slideExample:hover{
  background-color: aqua;
}

// ng-content-carousel{background-color: aqua;}

ng-content-carousel{
  // margin: 0 2rem;
  // --carousel-accent-color: red;
  // --carousel-arrows-hover-bg: blue;
  // --carousel-arrows-hover-color: white;
  // --carousel-transition-time: .3s;
}

ng-content-carousel a{
  // padding: 1rem;
  cursor: pointer;
  // width: 100%;
  // max-width: 500px;
  // min-width: 280px;
  // height: fit-content;
  // background-color: rgb(207, 129, 56);
  // display: block;
  // width: 200px;
}

ng-image-card {
  width: 100%;
  // max-width: 300px;
  min-width: 300px;
}

@media screen and (max-width: 1024px) {
  .slideExample{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid red;
    color: black;
  }
}
