:host{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
    height: 100%;
    background: linear-gradient(127deg, #30a2fe 20%, #824dfe 100%);
}

.titleContainer{
    max-width: 400px;
    width: 100%;
    text-align: left;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleContainer hgroup h1{
    font-size: 1.8rem;
    margin-bottom: .35rem;
}

.titleContainer hgroup div{

  display: flex;
  column-gap: .3rem;
  align-items: end;
}

.uuxLogo{
  width: 125px;
  margin-bottom: .1rem;
}

.angularLogo{
    max-width: 52px;
}

.container{
    // width: 400px;
    display: grid;
    // flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 1.5rem;

}

// ng-image-card.center{
//   --card-text-color: white;
//   --card-bg: black;
// }

ng-image-card{

  //External styles

  // max-width: 600px;
  // min-height: 1000px;
  // border: 1px solid white;
  // border-radius: 3rem;
  // box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.432);
  // color: red;
  // background: linear-gradient(to left, blue, red 50%);

  //Variable Styles

  // --card-padding: 16px;

  // --card-shadow: none;
  // --card-max-width: 400px;
  // --card-min-height: 200px;

  // --card-border: 3px solid red;
  // --card-border-radius: 3rem;

  // --card-text-color: black;
  // --card-bg: white;
  // --card-header-bg: white;

  // --card-body-bg: white;
  // --card-footer-bg: white;

  // --card-bg-hover: rgba(255, 0, 0, 0.219);

  // --card-header-text-color: black;
  // --card-body-text-color: black;
  // --card-footer-text-color: black;

  // --card-text-color-hover: rgb(255, 255, 255);
}

ng-image-card:hover{
  background-color: green;
  transform: scale(1.1);
}

ng-image-card.animation{
  animation: fadeIn 1s ease-in-out both;
}

ng-image-card.delay{
  --card-animation-delay: .2s;
}

// ng-image-card:hover{
//   --card-bg: blue;
//   --card-text-color: green;
//   --card-header-bg-hover: aqua;
// }


@keyframes fadeIn {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

.card_headerContainer{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.card_headerContainer div h3{
  margin-bottom: .3rem;
}

.card_headerContainer img{
  width: 50px;
  border-radius: 50%;
}
