:host{
    display: flex;
    flex-direction: column;
    // row-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    // min-height: 100dvh;
    height: 100%;
    background: linear-gradient(127deg, #30a2fe 20%, #824dfe 100%);
    overflow: hidden;
}

.titleContainer{
    max-width: 400px;
    width: 100%;
    text-align: left;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(220px);
}

.titleContainer hgroup h1{
    font-size: 1.8rem;
    margin-bottom: .35rem;
}

.titleContainer hgroup div{

  display: flex;
  column-gap: .3rem;
  align-items: end;
}

.uuxLogo{
  width: 125px;
  margin-bottom: .1rem;
}

.angularLogo{
    max-width: 52px;
}

.container{
    // width: 400px;
    display: grid;
    // flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 3.5rem;
    row-gap: 1.5rem;
    transform: translateY(90px);
}

// ng-content-card.center{
//   --card-text-color: white;
//   --card-bg: black;
// }

ng-content-card{
  width: 500px;
  //External styles
  // max-width: 280px;
  // min-height: 1000px;
  // border: 3px solid white;
  // border-radius: 3rem;

  //Variable Styles

  // --card-bg: black;
  // --card-fg: white;
  // --card-hover-bg: red;
  --card-hover-velocity: .3s;
  --card-section-padding: 16px;
  // --card-image-padding-x: 0px;
  --card-footer-border-top: 0px solid currentColor;
  --card-animation-delay: 0s;
  --card-animation-velocity: 1s;
  --card-hover-scale: 1.03;

  // Advanced variables
  --card-header-bg: transparent;
  --card-image-bg: transparent;
  --card-body-bg: transparent;
  --card-footer-bg: transparent;

  --card-header-text-color: inherit;
  --card-body-text-color: inherit;
  --card-footer-text-color: inherit;
}


// ng-content-card:hover{
//   background-color: #dbdbdbd5;
// }

ng-content-card [card-header]{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

ng-content-card [card-header] img{
  width: 50px;
  border-radius: 50%;
}

ng-content-card [card-footer]{
  display: flex; column-gap: .5rem; justify-content: end;
}

// ng-content-card [card-image]:hover img{
//   transform: scale(1.1);
// }

@keyframes fadeIn {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

.card_headerContainer{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

// ng-content-card [card-header]{
//   background-color: red;
// }

.card_headerContainer div h3{
  margin-bottom: .3rem;
}

.card_headerContainer img{
  width: 50px;
  border-radius: 10px;
}
